In [ ]:
# Теперь нужно решить, удалять ли строчки, которые df.groupby('major_cat_name')['major_cat_name'].count()

# Очистка данных: Ticket Sales Data
Набор данных выглядит совсем не очень. В нём есть пропущенные значения, избыточная, и не предназначенная для анализа информация. Ваша задача Привести этот набор данных в приличный вид. Сделайте так, чтобы на этот набор данных было приятно смотреть, и было легко строить на основе него дальнейшую аналитику.

## Шаг 1. Импортируем нужные библиотеки

In [ ]:
# ваш код тут
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from google.colab import files

## Шаг 2. Загрузаем данные в переменную df
Файл расположен по адресу 'https://drive.google.com/open?id=1KIsMPuZ3tWuCOM-LNJU6c29HV6HR4gwO'
И загружен в проект как sales.csv

---

In [ ]:
# ваш код тут
import io
df = pd.read_csv(io.BytesIO(uploaded['sales.csv']), encoding='latin1')

## Шаг 3. Первоначальный осмотр

In [ ]:
# Берем кусочек датафрейма и визуально оцениваем данные, что у нас имеются
# 4 случайные записи из датафрейма
df.sample(4)

      Unnamed: 0              event_id  ... occpn_2nd_val dist_to_ven
1454        1455  698c10bfb9fc38778c57  ...           NaN         NaN
2007        2008  99afec393b1d8a6726d1  ...           NaN         NaN
1748        1749  452c0207617cbccf331b  ...           NaN         NaN
1938        1939  330dd8dd18a1ca921530  ...           NaN         NaN

[4 rows x 46 columns]

Это данные о продаже билетов на концерты, есть информация:
1. Название концерта
2. Тип концерта
3. Жанр концерта
4. Дата покупки билета
5. Тип покупки клиента (электронные/ в кассе) 
6. Количество купленных билетов
7. Место покупки
8. Место проведение концерта
9. Информация о покупателе (пол, возраст)

Что хочется узнать из данных, после очистки:
1. Сколько билетов продано на каждый концерт
2. Какой наиболее распространенный тип покупки билетов
3. Какой наиболее популярный жанр концерта
4. Сколько в среднем продается билетов за одну покупку
5. Какой наиболее популярный сайт для покупки билетов

In [ ]:
# размер нашего датафрейма 
# 5000 строк и 46 столбцов
df.shape

(5000, 46)

In [ ]:
# смотрим, какие столбцы есть:
# всего 46 столбцов, из них
# 2 - целочисленные
# 8 - числа c плавающей точкой
# 36 - строки
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 46 columns):
Unnamed: 0                5000 non-null int64
event_id                  5000 non-null object
primary_act_id            5000 non-null object
secondary_act_id          5000 non-null object
purch_party_lkup_id       5000 non-null object
event_name                5000 non-null object
primary_act_name          5000 non-null object
secondary_act_name        1586 non-null object
major_cat_name            5000 non-null object
minor_cat_name            5000 non-null object
la_event_type_cat         5000 non-null object
event_disp_name           5000 non-null object
ticket_text               5000 non-null object
tickets_purchased_qty     5000 non-null int64
trans_face_val_amt        5000 non-null float64
delivery_type_cd          5000 non-null object
event_date_time           5000 non-null object
event_dt                  5000 non-null object
presale_dt                2108 non-null object
onsale_dt                 4899 non-null object
sales_ord_create_dttm     4996 non-null object
sales_ord_tran_dt         5000 non-null object
print_dt                  4576 non-null object
timezn_nm                 5000 non-null object
venue_city                5000 non-null object
venue_state               5000 non-null object
venue_postal_cd_sgmt_1    5000 non-null object
sales_platform_cd         2578 non-null object
print_flg                 5000 non-null object
la_valid_tkt_event_flg    5000 non-null object
fin_mkt_nm                5000 non-null object
web_session_cookie_val    5000 non-null object
gndr_cd                   177 non-null object
age_yr                    168 non-null float64
income_amt                154 non-null float64
edu_val                   139 non-null object
edu_1st_indv_val          112 non-null object
edu_2nd_indv_val          86 non-null object
adults_in_hh_num          176 non-null float64
married_ind               157 non-null float64
child_present_ind         130 non-null float64
home_owner_ind            138 non-null float64
occpn_val                 79 non-null object
occpn_1st_val             77 non-null object
occpn_2nd_val             63 non-null object
dist_to_ven               323 non-null float64
dtypes: float64(8), int64(2), object(36)
memory usage: 1.8+ MB

In [ ]:
# Смотрим агрегированные значения по числовым столбцам
df.describe()

        Unnamed: 0  tickets_purchased_qty  ...  home_owner_ind  dist_to_ven
count  5000.000000             5000.00000  ...      138.000000   323.000000
mean   2500.500000                1.63900  ...        0.942029   158.188854
std    1443.520003                1.11361  ...        0.234540   395.678376
min       1.000000                1.00000  ...        0.000000     0.000000
25%    1250.750000                1.00000  ...        1.000000    12.000000
50%    2500.500000                1.00000  ...        1.000000    26.000000
75%    3750.250000                2.00000  ...        1.000000    77.500000
max    5000.000000                8.00000  ...        1.000000  2548.000000

[8 rows x 10 columns]

##Шаг 4. Удаляем лишние данные

###Проблема 1: Неправильные индексы
Есть отдельный столбцец с индексом  "Unnamed: 0", дублирующий столбец с индексом
Переименуем индекс и удалим дублирующий столбцец "Unnamed: 0"

In [ ]:
# Сначала переименуем столбец индексов 
df.index.name = 'id'
# Удалим столбец "Unnamed: 0"
df.drop(columns=["Unnamed: 0"], inplace=True)
df.sample(4)

                  event_id        primary_act_id  ... occpn_2nd_val dist_to_ven
id                                                ...
4749  711026f34959b2d3e8c6  1a3e9aecd0617706a794  ...           NaN         NaN
2671  9e4803ca925cca4760c6  0e7886b245dfe1b7f6e0  ...           NaN         NaN
115   0c6aa3194f5e86ae1368  ac4b847b3fde66f2117e  ...           NaN         NaN
1228  573b33137b63047012a6  dddbb3e176cd226421c6  ...           NaN         NaN

[4 rows x 45 columns]

In [ ]:
# Теперь удаляем дубликаты, т.к раньше первый столбец был уникален и дубликатов не могло быть
df.drop_duplicates(inplace=True)

### Проблема 2: Недостаточно данных
Удалим 14 столбцов, где меньше 350 не нулевых значений
Цифра 350 выбрана на основе функции df.info(), где указано количество ненулевых значений

In [ ]:
# из данных полученных через df.info выделяем следующие 14 столбцов
#gndr_cd                   
#age_yr                    
#income_amt              
#edu_val                
#edu_1st_indv_val          
#edu_2nd_indv_val         
#adults_in_hh_num          
#married_ind               
#child_present_ind         
#home_owner_ind            
#occpn_val                 
#occpn_1st_val            
#occpn_2nd_val            
#dist_to_ven
columns_to_drop = ['gndr_cd', 'age_yr', 'income_amt', 'income_amt', 'edu_val', 'edu_1st_indv_val', 'edu_2nd_indv_val',\
'adults_in_hh_num', 'married_ind', 'child_present_ind', 'home_owner_ind', 'occpn_val', 'occpn_1st_val', 'occpn_2nd_val', 'dist_to_ven']
df.drop(columns_to_drop, axis=1, inplace= True)

In [ ]:
df.head(4)

                event_id  ... web_session_cookie_val
id                        ...
0   abcaf1adb99a935fc661  ...   7dfa56dd7d5956b17587
1   6c56d7f08c95f2aa453c  ...   4f9e6fc637eaf7b736c2
2   c7ab4524a121f9d687d2  ...   6c2545703bd527a7144d
3   394cb493f893be9b9ed1  ...   527d6b1eaffc69ddd882

[4 rows x 31 columns]

###Проблема 3: Данные о покупателях билетов, а не о концертах
Мы анализируем продажу билетов в общем, а не покупателей билетов.
Поэтому нужно удалить те столбцы, в которых есть информация о покупателях - например почтовый индекс и те столбцы, которые не будут полезны при анализе. 
А также столбцы, в которых я не смогла понять, какая информация находится

In [ ]:
# Выделила данные, которые сложно проанализировать:
# fin_mkt_nm - город покупателя
# venue_postal_cd_sgmt_1	- почтовый индекс проведения концерта
# ticket_text - текст на билете

columns_to_drop_2 = ['fin_mkt_nm', 'venue_postal_cd_sgmt_1', 'ticket_text']
df.drop(columns_to_drop_2, axis=1, inplace= True)

In [ ]:
df.head(4)

                event_id  ... web_session_cookie_val
id                        ...
0   abcaf1adb99a935fc661  ...   7dfa56dd7d5956b17587
1   6c56d7f08c95f2aa453c  ...   4f9e6fc637eaf7b736c2
2   c7ab4524a121f9d687d2  ...   6c2545703bd527a7144d
3   394cb493f893be9b9ed1  ...   527d6b1eaffc69ddd882

[4 rows x 28 columns]

##Шаг 5. Приводим данные к оптимальным типам

###Проблема 1 : Даты неправильного формата
В данных есть столбцы с датами, но все они типа object.
Их нужно преобразовать в datatime64

In [ ]:
#Визуально выделила следующие значения в которых записана дата:
#event_date_time
#event_dt
#presale_dt
#onsale_dt
#sales_ord_create_dttm
#sales_ord_tran_dt	
#print_dt

#Приведем их к формату datetime64
columns_to_datetime = ["event_date_time", "event_dt", "presale_dt", "onsale_dt", "sales_ord_create_dttm"\
    ,"sales_ord_tran_dt", "print_dt"]
df[columns_to_datetime] = df[columns_to_datetime].apply(pd.to_datetime)

###Проблема 2: Значения да/нет неправильного формата
В данных есть столбцы со значениями true/false, тип у них строчный обозначения Y/N. Нужео преобразовать в bool64, чтобы сэкономить место и удобнее применять функции pandas

In [ ]:
### Есть 2 один столбца с такими данными
# print_flg
# la_valid_tkt_event_flg
# сначала проверим, какие есть возможные значения в этих столбцах
df.print_flg.unique()

array(['T ', 'F '], dtype=object)

In [ ]:
df.la_valid_tkt_event_flg.unique()

array(['N ', 'Y '], dtype=object)

In [ ]:
# Заменим значения с помощью словаря с корректными значениями и функции replace
# Обращаем внимание, что символы T и F имеют пробел в конце, которые мы учитываем в словаре
bool1_map = {'T ': True, 
             'F ': False}
df['print_flg'] = df['print_flg'].replace(bool1_map)

bool2_map = {'Y ': True, 
             'N ': False}
df['la_valid_tkt_event_flg'] = df['la_valid_tkt_event_flg'].replace(bool2_map)

In [ ]:
df

                  event_id  ... web_session_cookie_val
id                          ...
0     abcaf1adb99a935fc661  ...   7dfa56dd7d5956b17587
1     6c56d7f08c95f2aa453c  ...   4f9e6fc637eaf7b736c2
2     c7ab4524a121f9d687d2  ...   6c2545703bd527a7144d
3     394cb493f893be9b9ed1  ...   527d6b1eaffc69ddd882
4     55b5f67e618557929f48  ...   8bd62c394a35213bdf52
...                    ...  ...                    ...
4995  79372bc1e7e14dfd3f82  ...   8a03312852bd2a785f2c
4996  f3b0de6a19e2a16e4fb1  ...   f032fe520e8313bef880
4997  7c9e2f6847a2dbe4ebff  ...   f270f4daa5c3dd61a8c5
4998  7af1ccd9a3ec3b6cef1c  ...   55a61a5e0ceb8beee897
4999  802f4bf8026e38c2acf2  ...   55e6e08d4b712243944d

[5000 rows x 28 columns]

### Проблема 3: маленькие числа занимают много памяти
Есть два столбца с числами

tickets_purchased_qty - Количество билетов

trans_face_val_amt - стоимость билета 
Они типов int64 и float64 соответственно

На основе df.describe изменим формат данных, без потери точности

In [ ]:
# Почему - то тип указывается отличный от функции info()
# Но тут мы смотрим агрегированные данные:
df.tickets_purchased_qty.describe()

count    5000.00000
mean        1.63900
std         1.11361
min         1.00000
25%         1.00000
50%         1.00000
75%         2.00000
max         8.00000
Name: tickets_purchased_qty, dtype: float64

In [ ]:
# Для этих данных вполне достаточно формата uint8 числа от 0 до 255
df['tickets_purchased_qty'] = pd.to_numeric(df['tickets_purchased_qty'], downcast='unsigned')

In [ ]:
# Аналогично для trans_face_val_amt
df.trans_face_val_amt.describe()

count    5000.000000
mean       77.077446
std       123.864788
min         1.000000
25%        20.000000
50%        30.000000
75%        85.000000
max      1520.880000
Name: trans_face_val_amt, dtype: float64

In [ ]:
df['trans_face_val_amt'] = pd.to_numeric(df['trans_face_val_amt'], downcast='float')

In [ ]:
# Снова смотрим на info
# данные изменились на uint8 и float32
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 28 columns):
event_id                  5000 non-null object
primary_act_id            5000 non-null object
secondary_act_id          5000 non-null object
purch_party_lkup_id       5000 non-null object
event_name                5000 non-null object
primary_act_name          5000 non-null object
secondary_act_name        1586 non-null object
major_cat_name            5000 non-null object
minor_cat_name            5000 non-null object
la_event_type_cat         5000 non-null object
event_disp_name           5000 non-null object
tickets_purchased_qty     5000 non-null uint8
trans_face_val_amt        5000 non-null float32
delivery_type_cd          5000 non-null object
event_date_time           5000 non-null datetime64[ns]
event_dt                  5000 non-null datetime64[ns]
presale_dt                2108 non-null datetime64[ns]
onsale_dt                 4899 non-null datetime64[ns]
sales_ord_create_dttm     4996 non-null datetime64[ns]
sales_ord_tran_dt         5000 non-null datetime64[ns]
print_dt                  4576 non-null datetime64[ns]
timezn_nm                 5000 non-null object
venue_city                5000 non-null object
venue_state               5000 non-null object
sales_platform_cd         2578 non-null object
print_flg                 5000 non-null bool
la_valid_tkt_event_flg    5000 non-null bool
web_session_cookie_val    5000 non-null object
dtypes: bool(2), datetime64[ns](7), float32(1), object(17), uint8(1)
memory usage: 1010.7+ KB

##Шаг 6. Форматируем и оптимизируем данные
После крупной чистки данных, смотрим на каждый столбец и думаем, можем ли мы что-то улучшить

###Идея 1: Разделить столбец с данными о сайте покупки

In [ ]:
# Смотрим на значения столбца sales_platform_cd -сайт где покупали билеты
df1 = df.sales_platform_cd
df1.unique()

array(['www.concerts.livenation.com', nan, 'www.livenation.com',
       'mobile.livenation.us', 'www.ticketmaster.com',
       'iphone.ticketmaster.us', 'android.ticketmaster.us',
       'iphone2.livenation.us', 'mobile.ticketmaster.us',
       'www.ticketmaster.ca', 'mobile.ticketmaster.ca',
       'androidphone2.livenation.us', 'iphone.ticketmaster.ca',
       'www.ticketmaster.com.mx'], dtype=object)

In [ ]:
# Этот столбец можно разделить на 2:
# 1. Cайт, где куплен билет, их всего 2: ticketmaster.com и livenation.com
# 2. Устройство с помощью которого покупатель заходил - iphone, android, mobile (когда неизвестна платформа телефона), desktop (с пк или ноутбука)

site_map = {}
for key in ['www.concerts.livenation.com', 'www.livenation.com', 'mobile.livenation.us','mobile.livenation.us', 'iphone2.livenation.us', 'androidphone2.livenation.us']:
    site_map[key] = 'www.livenation.com'
for key in ['www.ticketmaster.com', 'iphone.ticketmaster.us', 'android.ticketmaster.us', 'mobile.ticketmaster.us', 'www.ticketmaster.ca', 'iphone.ticketmaster.ca', 'www.ticketmaster.com.mx']:
    site_map[key] = 'www.ticketmaster.com'

device_map = {} 
for key in ['iphone.ticketmaster.us', 'iphone2.livenation.us', 'iphone.ticketmaster.ca']:
    device_map[key] = 'iphone'
for key in ['android.ticketmaster.us']:
    device_map[key] = 'android'
for key in ['mobile.livenation.us', 'mobile.ticketmaster.us', 'mobile.ticketmaster.ca', 'androidphone2.livenation.us']:
    device_map[key] = 'mobile'
for key in ['www.concerts.livenation.com','www.livenation.com',  'www.ticketmaster.com','www.ticketmaster.ca','www.ticketmaster.com.mx']:
    device_map[key] = 'desktop'

df['Sales site'] = df['sales_platform_cd'].map(site_map)
df['Sales device'] = df['sales_platform_cd'].map(device_map)

# Удаляем колонку sales_platform_cd
df.drop('sales_platform_cd', axis=1, inplace= True)

###Идея 2: Убрать столбец с типом мероприятия

In [ ]:
# Посмотрим, какие значения есть в столбце major_cat_name - основная категория мероприятия
df.major_cat_name.unique()

array(['MISC', 'CONCERTS', 'ARTS', 'SPORTS', 'FAMILY'], dtype=object)

In [ ]:
# Видим 5 категорий, есть догадка, что категорий не "CONCERT" или "MISC" (Разное) - очень мало
# Проверим: 
df.groupby('major_cat_name')['major_cat_name'].count()

major_cat_name
ARTS          25
CONCERTS    1998
FAMILY         4
MISC        2972
SPORTS         1
Name: major_cat_name, dtype: int64

In [ ]:
# Таких строчек всего 30, как мы и думали
# Посмотрим на эти строки:
df[(df['major_cat_name'] != 'MISC')& (df['major_cat_name'] != 'CONCERTS')]

                  event_id  ... Sales device
id                          ...
289   62c32c8476c7a5547cc7  ...      desktop
1215  01de4515af60ffac1529  ...       mobile
1365  22eba5c543ec2b9f01b5  ...       mobile
1660  17ede687a02b6412663c  ...      desktop
1870  89d5964a926b01e553b2  ...      desktop
2045  4e4e62b0c16fd498f993  ...      desktop
2241  ecc2eb62291cb68cec74  ...      desktop
2244  a138ff85cd711787015a  ...      desktop
2293  3b8e5f27b2fe01bac77a  ...       mobile
2479  153bdf473b622113952d  ...      desktop
2501  c1f9569333c03dae398c  ...      desktop
2518  5b366982aaa224c97379  ...      desktop
2602  05b5139fc7a5a16e1c21  ...       mobile
2648  7d025d9d3a9b8c57dd0b  ...      desktop
2916  23871bf0bf96a236ad65  ...      desktop
2973  4b4b6419c4bb6677c08d  ...      desktop
3068  c9cbe9c704accb862301  ...      desktop
3101  678eeee02d541e4e87c1  ...      desktop
3483  2f26df082ae75200b291  ...      desktop
3544  aff9bb67f25643efbfd3  ...      desktop
3584  c7a6af59f0c949bb6338  ...      desktop
3678  22b6ab14661c170229f2  ...      desktop
3699  67b30f005aaa5a25264b  ...      desktop
3854  67b30f005aaa5a25264b  ...      desktop
4037  71be17461aced03497f5  ...      desktop
4062  b07129cd307c72ea153b  ...      desktop
4177  43af7d92957dacfe956a  ...      desktop
4245  35b15edd930e3a3a3f93  ...      desktop
4419  d35887be1b1eecbf0c15  ...      desktop
4851  a9542d8a1c5366a28c8c  ...      desktop

[30 rows x 29 columns]

In [ ]:
# Также заметила, что столбцы major_cat_name и la_event_type_cat очень похожи

df[(df['major_cat_name'] != df['la_event_type_cat']) & ((df['major_cat_name'] != "MISC") & (df['major_cat_name'] != "CONCERTS"))][['major_cat_name', 'la_event_type_cat']]

Empty DataFrame
Columns: [major_cat_name, la_event_type_cat]
Index: []

In [ ]:
# Итого, после анализа решено удалить столбец major_cat_name, т.к это всё концерты
# А более подробная информация содержится в minor_cat_name
df.drop('major_cat_name', axis=1, inplace= True)

In [ ]:
df

                  event_id  ... Sales device
id                          ...
0     abcaf1adb99a935fc661  ...      desktop
1     6c56d7f08c95f2aa453c  ...          NaN
2     c7ab4524a121f9d687d2  ...          NaN
3     394cb493f893be9b9ed1  ...          NaN
4     55b5f67e618557929f48  ...          NaN
...                    ...  ...          ...
4995  79372bc1e7e14dfd3f82  ...          NaN
4996  f3b0de6a19e2a16e4fb1  ...      desktop
4997  7c9e2f6847a2dbe4ebff  ...          NaN
4998  7af1ccd9a3ec3b6cef1c  ...          NaN
4999  802f4bf8026e38c2acf2  ...      desktop

[5000 rows x 28 columns]

###Идея 3: Удалить один из дублирующихся столбцов с названием мероприятия

In [ ]:
# Заметила, что столбцы event_name и event_disp_name очень похожи
# Сравним значения в этих столбцах: 
df['event_name'].isin(df['event_disp_name']).value_counts()

True     4998
False       2
Name: event_name, dtype: int64

In [ ]:
# Всего 2 столбца из 5000 различаются 
# Посмотрим на них:
df[df['event_name'] != df['event_disp_name']][['event_name', 'event_disp_name']]

                               event_name                      event_disp_name
id
996                                  Soja                                 SOJA
4342  Ben Harper & the Innocent Criminals  Ben Harper & The Innocent Criminals

In [ ]:
# Они оказываются одинаковыми, с точностью до регистра 
# Поэтому удалим столбец event_disp_name
df.drop('event_disp_name', axis=1, inplace= True)

### Идея 4: Убрать id и оставить только названия
Есть три пары столбцов

event_id event_name	
primary_act_id primary_act_name	
secondary_act_id secondary_act_name

Нужно избавиться от столбцов с id, при этом убедиться что все значения с одинаковым id имеют одинаковое название

In [ ]:
df.groupby('event_id')['event_name'].value_counts()

event_id              event_name
00071bfcbb27802045b2  Willie Nelson's 4th of july picnic presented by budweiser         1
001889c0940fa4fae413  Table Upgrade: Kyle Dunnigan - purchase one upgrade per person    1
00394b832432576b931a  Jon Pardi And Brothers Osborne                                    1
00454c7a335c30d982d7  The Rides                                                         1
004ac78a434a108b6421  Gorge Amphitheatre Premier Parking May 25                         1
                                                                                       ..
ffdb7f76c259bd015a54  Old National Centre Priority Pass: City And Colour                1
ffdccd4d093e3a0fbfe0  Paul Mccartney: Out There                                         1
ffdd948e2bc905c12faa  First Midwest Bank Amp. Parking: Crosby Stills Nash And Young     1
ffee9977209a80ad5997  John Fogerty-pnc Bank Arts Center Holmdel Premier Parking         1
fffafaef3af909b527d7  Premier Parking: Alan Jackson                                     1
Name: event_name, Length: 3754, dtype: int64

In [ ]:
# Воспользуемся функцией transform, где аргумент first - заменять по первому вхождению
df['event_name'] = df.groupby('event_id')['event_name'].transform('first')

In [ ]:
df.groupby('event_id')['event_name'].value_counts()

event_id              event_name
00071bfcbb27802045b2  Willie Nelson's 4th of july picnic presented by budweiser         1
001889c0940fa4fae413  Table Upgrade: Kyle Dunnigan - purchase one upgrade per person    1
00394b832432576b931a  Jon Pardi And Brothers Osborne                                    1
00454c7a335c30d982d7  The Rides                                                         1
004ac78a434a108b6421  Gorge Amphitheatre Premier Parking May 25                         1
                                                                                       ..
ffdb7f76c259bd015a54  Old National Centre Priority Pass: City And Colour                1
ffdccd4d093e3a0fbfe0  Paul Mccartney: Out There                                         1
ffdd948e2bc905c12faa  First Midwest Bank Amp. Parking: Crosby Stills Nash And Young     1
ffee9977209a80ad5997  John Fogerty-pnc Bank Arts Center Holmdel Premier Parking         1
fffafaef3af909b527d7  Premier Parking: Alan Jackson                                     1
Name: event_name, Length: 3746, dtype: int64

In [ ]:
# Как видим, уникальных значений стало меньше 3754 -> 3746
# Повторяем аналогичные действия для 2 остальных значений
df['primary_act_name'] = df.groupby('primary_act_id')['primary_act_name'].transform('first')
df['secondary_act_name'] = df.groupby('secondary_act_id')['secondary_act_name'].transform('first')

In [ ]:
# Теперь можно удалить столбцы с id 
columns_to_drop_3 = ['event_id', 'primary_act_id', 'secondary_act_id']
df.drop(columns_to_drop_3, axis=1, inplace= True)

In [ ]:
df.sample(5)

       purch_party_lkup_id  ... Sales device
id                          ...
3125  9b01d0c5781c4759826b  ...      desktop
105   b6c3b2081938e74d7cde  ...       iphone
4994  5f0e8870d2d08f157042  ...      desktop
2492  23ebaf28caab80691bb2  ...      desktop
3140  31b20adfed6c9830a610  ...      desktop

[5 rows x 24 columns]

### Идея 5: Удалить один из дублирующихся столбцов с id покупки
Столбцы purch_party_lkup_id и web_session_cookie_val похожи
Возможно они дублируют друг друга и один можно удалить

In [ ]:
df2 = df[df['purch_party_lkup_id'] != df['web_session_cookie_val']]
df2

Empty DataFrame
Columns: [purch_party_lkup_id, event_name, primary_act_name, secondary_act_name, minor_cat_name, la_event_type_cat, tickets_purchased_qty, trans_face_val_amt, delivery_type_cd, event_date_time, event_dt, presale_dt, onsale_dt, sales_ord_create_dttm, sales_ord_tran_dt, print_dt, timezn_nm, venue_city, venue_state, print_flg, la_valid_tkt_event_flg, web_session_cookie_val, Sales site, Sales device]
Index: []

In [ ]:
#Эти столбцы совпадают, удалим 'web_session_cookie_val'
df.drop('web_session_cookie_val', axis=1, inplace= True)

### Идея 6: Разделить категорию мероприятия и тип билета
Есть два столбца

minor_cat_name - жанр концерта

la_event_type_cat	- тип билета

In [ ]:
# Посмотрим на то, какие данные в них лежат
df1 = df.minor_cat_name
df1.unique()

array(['PARKING', 'CAMPING', 'SPECIAL ENTRY (UPSELL)',
       'DANCE MUSIC/DANCE', 'COUNTRY', 'ROCK/POP',
       'CONCESSION VOUCHERS (UPSELL)', 'ALTERNATIVE ROCK',
       'DINNER PACKAGES (UPSELL)', 'COMEDY', 'RAP/URBAN', 'R & B',
       'OTHER', 'LATIN MUSIC', 'JAZZ', 'POP', 'CLUB ACCESS',
       'ADULT CONTEMPORARY', 'CHANSON FRANCAISE', 'HEAVY METAL',
       'CLASSICAL/VOCAL', 'ETHNIC/FOREIGN', 'PUNK', 'REGGAE', 'FESTIVALS',
       'TRIBUTE BAND', 'FOLK', 'BUS/TRANSPORTATION', 'PERFORMANCE ART',
       'BALLET/DANCE', 'SOUL', 'GOSPEL', 'WRESTLING',
       "CHILDREN'S THEATRE", 'THEATRE (MUSICAL)', 'HOLIDAY ATTRACTION',
       'LECTURE/SEMINAR', 'THEATRE (DRAMA)', 'BLUES', 'OLDIES',
       'CLASSICAL/SYMPHONIC', 'THEATRE OTHER', 'BLUEGRASS', 'MAGIC'],
      dtype=object)

In [ ]:
df1 = df.la_event_type_cat
df1.unique()

array(['PARKING', 'INVALID', 'UPSELL', 'CONCERTS', 'ARTS', 'SPORTS',
       'FAMILY'], dtype=object)

In [ ]:
# При рассмотрении этих данных заметила,
# Что флаг 'la_valid_tkt_event_flg' отражает то, является ли эта покупка билетом на концерт
df.groupby(['la_valid_tkt_event_flg', 'la_event_type_cat'])['la_valid_tkt_event_flg'].agg('count')

la_valid_tkt_event_flg  la_event_type_cat
False                   INVALID               171
                        PARKING              2324
                        UPSELL                490
True                    ARTS                  104
                        CONCERTS             1906
                        FAMILY                  4
                        SPORTS                  1
Name: la_valid_tkt_event_flg, dtype: int64

In [ ]:
# Выборка показала, что действительно значение True есть только для категорий ARTS, CONCERTS, FAMILY, SPORT 
# Сделаем аналогичную выборку для minor_cat_name
df.groupby(['la_valid_tkt_event_flg', 'minor_cat_name'])['la_valid_tkt_event_flg'].agg('count')

la_valid_tkt_event_flg  minor_cat_name
False                   ALTERNATIVE ROCK                   1
                        BUS/TRANSPORTATION                 1
                        CAMPING                          158
                        CLUB ACCESS                       38
                        COMEDY                             1
                        CONCESSION VOUCHERS (UPSELL)     123
                        DINNER PACKAGES (UPSELL)          17
                        HOLIDAY ATTRACTION                 1
                        LATIN MUSIC                        1
                        LECTURE/SEMINAR                    1
                        OTHER                              8
                        PARKING                         2314
                        RAP/URBAN                          2
                        ROCK/POP                           8
                        SPECIAL ENTRY (UPSELL)           311
True                    ADULT CONTEMPORARY                17
                        ALTERNATIVE ROCK                 401
                        BALLET/DANCE                       8
                        BLUEGRASS                          1
                        BLUES                              3
                        CHANSON FRANCAISE                  1
                        CHILDREN'S THEATRE                 4
                        CLASSICAL/SYMPHONIC                1
                        CLASSICAL/VOCAL                    7
                        COMEDY                            79
                        COUNTRY                          238
                        DANCE MUSIC/DANCE                 60
                        ETHNIC/FOREIGN                    17
                        FESTIVALS                         12
                        FOLK                               9
                        GOSPEL                             7
                        HEAVY METAL                       90
                        JAZZ                               1
                        LATIN MUSIC                       42
                        MAGIC                              1
                        OLDIES                             4
                        OTHER                             11
                        PERFORMANCE ART                    1
                        POP                               12
                        PUNK                               6
                        R & B                            128
                        RAP/URBAN                        115
                        REGGAE                             7
                        ROCK/POP                         713
                        SOUL                               4
                        THEATRE (DRAMA)                    1
                        THEATRE (MUSICAL)                  2
                        THEATRE OTHER                      3
                        TRIBUTE BAND                       8
                        WRESTLING                          1
Name: la_valid_tkt_event_flg, dtype: int64

In [ ]:
# Для minor_cat_name есть строки с признаком False, где указаны жанры музыки, а не информация о типе билета
# Но как быстрое решение нужно удалить все строки, где 'la_valid_tkt_event_flg' = False
df = df [df['la_valid_tkt_event_flg'] == True]

# Удаляем строку 'la_valid_tkt_event_flg'
df.drop('la_valid_tkt_event_flg', axis=1, inplace= True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df

       purch_party_lkup_id  ... Sales device
id                          ...
9     97a3efbab1bfcc0a6093  ...       mobile
11    aacf83f268bd967f98e7  ...      desktop
16    0782b2074b13d4bd4756  ...      desktop
26    42c5142562a4a9a01798  ...      desktop
29    e6c30f65b31f7d1c43d2  ...      desktop
...                    ...  ...          ...
4989  2c2885f4d6b7c1cf720b  ...      desktop
4991  16a410473fc4d3c334d9  ...      desktop
4994  5f0e8870d2d08f157042  ...      desktop
4996  f032fe520e8313bef880  ...      desktop
4999  55e6e08d4b712243944d  ...      desktop

[2015 rows x 22 columns]

## Шаг 7. Переименовываем строки
Считаем, что наш массив данных готов к работе, осталось переименовать строки

In [ ]:
df.rename(columns= {'purch_party_lkup_id': 'Purchase id', 'event_name': 'Event Name'\
                   ,'primary_act_name':'Primary artist', 'secondary_act_name':'Additional artist', 'minor_cat_name' : 'Genre'\
                   ,'la_event_type_cat' : 'Type', 	'tickets_purchased_qty' : 'Tickets purchased'\
                   , 'trans_face_val_amt' : 'Ticket value, $', 	'delivery_type_cd' : 'Delivery type'\
                   ,'event_date_time': 'Event datetime', 	'event_dt' : 'Event date'\
                    , 'presale_dt' : 'Presale date', 	'onsale_dt' : 'Onsale date'\
                    , 'sales_ord_create_dttm' : 'Purchased datetime', 'sales_ord_tran_dt': ''\
                    , 'print_dt' : '', 	'timezn_nm' : 'Concert city timezone', 'venue_city' : 'Venue city'\
                    , 'venue_state' : 'Venue state', 'print_flg': 'Tickets print'}, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [ ]:
df

               Purchase id  ... Sales device
id                          ...
9     97a3efbab1bfcc0a6093  ...       mobile
11    aacf83f268bd967f98e7  ...      desktop
16    0782b2074b13d4bd4756  ...      desktop
26    42c5142562a4a9a01798  ...      desktop
29    e6c30f65b31f7d1c43d2  ...      desktop
...                    ...  ...          ...
4989  2c2885f4d6b7c1cf720b  ...      desktop
4991  16a410473fc4d3c334d9  ...      desktop
4994  5f0e8870d2d08f157042  ...      desktop
4996  f032fe520e8313bef880  ...      desktop
4999  55e6e08d4b712243944d  ...      desktop

[2015 rows x 22 columns]

###Вывод
Был проанализирован массив информации о билетах на концерты

Из 46 столбцов осталось всего 22
А из 5000 строк - 2015

---

Часть информации была переформатирована или переконвертирована в другие типы данных.

В результате с данными можно удобнее работать, а сам датасет занимает меньше места.